










<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de profissional</title>

    <link rel="shortcut icon" type="imagex/png" href="/wallpaper/so.ico">


    <style>




#ar1{
        width: 25%;
        height: 500px;
        background-color: white;
        float: left;
        margin-left: 0%;
      }

      #ar2{
        width: 50%;
        height: 200px;
        background-color: white;
        float: left;
      }

      #ar3{
        width: 25%;
        height: 500px;
        background-color: white;
        float: right;
      }

      #c{
        background-color: #A71752;
      }

      #la1{
        font-size: 30px;
      }



      #btnlog{
        background-color: darkred;
        border-color: white;
      }

      #btnlog:hover{
        background-color: green;
      }

      

      




    </style>


<script>
  function atualizaServicosSelecionados() {
      const checkboxes = document.querySelectorAll('input[name="servicos"]');
      const hiddenInput = document.querySelector('input[name="servicosSelecionados"]');
      const selectedValues = Array.from(checkboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);

      hiddenInput.value = selectedValues.length > 0 ? '1' : ''; // Define 1 se houver serviços selecionados
  }
</script>




</head>



<body>



    
    <%- include('layout/amenu'); %>

    
    <article id="ar1">
        <br>
        <br>
        <br><br><br><br>
        <center>
        <img id="im1" src="https://static.wixstatic.com/media/b8c75c_94105ac98dd64bf68d1d47124ac08443~mv2.gif" alt="erro na imagem" width="375px"> 
        </center>
        <br>
        <br>
      </article>

      <article id="ar2">


        <br>
        <br>
        
        <center>
        <h1 id="he">Faça o cadastro de um(a) profissional!</h1>
        </center>
        <br>
        <br>

        <div class="card" id="c">
          <div class="container">
            <div class="card container" id="cc">
              <br><br>


              <form enctype="multipart/form-data" action="/cadastrarpro/<%= (bid) %> " method="POST">

                <div class="mb-3">
                <label for="nome"  id="la1" class="form-label"><i class="material-icons">badge</i>Nome do(a) profissional</label>
                <input type="text" style="border-color: #A71752;" class="form-control" placeholder="Nome" required id="nome" name="nome">
                </div>

                
                <div class="mb-3">
                <label for="email"  id="la1" class="form-label"><i class="material-icons">mail</i>Email</label>
                <input type="email" style="border-color: #A71752;" class="form-control" required id="email" name="email" placeholder="nome@exemplo.com" >
                </div>

                <div class="mb-3">
                  <label for="horaComeca"  id="la1" class="form-label"><i class="material-icons">schedule</i>Horário em que o(a) profissional começa a trabalhar</label>
                  <input type="time" style="border-color: #A71752;" class="form-control" placeholder="Horário" required id="horaComeca" name="horaComeca">
                  </div>
  
                  <div class="mb-3">
                  <label for="horaTermina"  id="la1" class="form-label"><i class="material-icons">schedule</i>Horário em que o(a) profissional termina de trabalhar</label>
                  <input type="time" style="border-color: #A71752;" class="form-control" placeholder="Horário" required id="horaTermina" name="horaTermina">
                  </div>

            
                  <input type="hidden" name="servicosSelecionados" value="">
                
                <div class="mb-3">
                  <label for="servicos" id="la1" class="form-label"><i class="material-icons">work</i>Serviços que o(a) profissional vai realizar na barbearia</label>
              </div>
              
              <% if (dadosservico && dadosservico.length > 0) { %>
                  <% dadosservico.forEach(function(dados) { %>
                      <div class="form-check" >
                          <input class="form-check-input" type="checkbox" name="servicos" value="<%= dados.id %>" id="servico-<%= dados.id %>">
                          <label class="form-check-label" for="servico-<%= dados.id %>">
                              <%= dados.nome %>
                          </label>
                      </div>
                  <% }); %>
              <% } else { %>
                  <h2 style="color: #A71752;">Você ainda não cadastrou nenhum serviço na barbearia!</h2><br>
              <% } %>
                 

                <div class="mb-3">
                    <label for="profile"  id="la1" class="form-label"><i class="material-icons">image</i>Foto do(a) profissional</label>
                    <input type="file" style="border-color: #A71752;" class="form-control" required id="profile" name="nomeimg" >
                </div>
               
                    <br><br>
                    <center>
                  <button id="btnlog" type="submit" class="btn btn-primary">Cadastrar</button>
                    </center>
                    <br><br>
              </form>
        

            </div>
        </div>
    </div>


      </article>

      <article id="ar3">
        <br>
        <br>
        <br><br><br><br>
        <center>
        <img id="im2" src="https://static.wixstatic.com/media/b8c75c_94105ac98dd64bf68d1d47124ac08443~mv2.gif" alt="erro na imagem" width="375px">
        </center>
        <br>
        <br>
      </article>
    

      <br>
    <br>
    <br>
   <br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br>


     <%- include('layout/footer'); %>


    
</body>



</html>