





















<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de usuário</title>

    <link rel="shortcut icon" type="imagex/png" href="/wallpaper/so.ico">


    <style>




#ar1{
        width: 25%;
        height: 500px;
        background-color: white;
        float: left;
        margin-left: 0%;
      }

      #ar2{
        width: 50%;
        height: 200px;
        background-color: white;
        float: left;
      }

      #ar3{
        width: 25%;
        height: 500px;
        background-color: white;
        float: right;
      }


      #c{
        background-color: #000080;
      }

      #la1{
        font-size: 30px;
      }



      #btnlog{
        background-color: darkred;
        border-color: white;
      }

      #btnlog:hover{
        background-color: green;
      }

      




    </style>


</head>



<body>



    
    <%- include('layout/amenu'); %>

   

    
    <article id="ar1">
        <br>
        <br>
        <br><br><br><br>
        <center>
        <img id="im1" src="https://static.wixstatic.com/media/b8c75c_94105ac98dd64bf68d1d47124ac08443~mv2.gif" alt="erro na imagem" width="375px"> 
        </center>
        <br>
        <br>
      </article>

      <article id="ar2">


        <br>
        <br>
        
        <center>
        <h1 id="he">Edição de perfil</h1>
        </center>
        <br>
        <br>

        <div class="card" id="c">
          <div class="container">
            <div class="card container" id="cc">
              <br><br>

              <% dadosusuario.forEach(function(dados) { %>
              
              <form enctype="multipart/form-data" action="/fazedicaou/<%=dados.id %>" method="POST">
                
          
                
                <div class="mb-3">
                <label for="nome"  id="la1" class="form-label"><i class="material-icons">badge</i>Nome completo</label>
                <input type="text" style="border-color: #000080;" class="form-control" required placeholder="Nome" value= "<%=dados.nome %>"  id="nome" name="nome">
                </div>

                <div class="mb-3">
                <label for="telefone"  id="la1" class="form-label"><i class="material-icons">phone</i>Telefone</label>
                <input type="tel" style="border-color: #000080;" class="form-control" pattern="\(\d{2}\) 9\d{4}-\d{4}" title="Formato: (51) 91234-5678" value= "<%=dados.telefone %>" required id="telefone" name="telefone">
                </div>

    
                   
                <div class="mb-3">
                <label for="imagem"  id="la1" class="form-label"><i class="material-icons">image</i>Foto de perfil</label>
                <input type="file" style="border-color: #000080;" class="form-control" value= "/imagesUser/<%=dados.imagem %>" id="imagem" name="imagem" >
                </div>
               
                <br><br>
                <center>
                <button id="btnlog" type="submit" class="btn btn-primary">Atualizar dados</button>
                </center>
                <br><br>
                
                
                <%  }) %>
              </form>
        

            </div>
        </div>
    </div>


      </article>

      <article id="ar3">
        <br>
        <br>
        <br><br><br><br>
        <center>
        <img id="im2" src="https://static.wixstatic.com/media/b8c75c_94105ac98dd64bf68d1d47124ac08443~mv2.gif" alt="erro na imagem" width="375px">
        </center>
        <br>
        <br>
      </article>
    

      <br>
    <br>
    <br>
   <br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br>


     <%- include('layout/footer'); %>


    
</body>



</html>